@page

    <div class="stylingprivacy">
        <h1>Privacy Policy for Blue Bird Snowboarding</h1>
        <p><strong>Effective Date</strong>: [Date]</p>

        <h2>1. Introduction</h2>
        <p>Welcome to Blue Bird Snowboarding. We respect the privacy of our users and are committed to protecting it through our compliance with this policy. This policy describes:</p>
        <ul>
            <li>The types of information we may collect or that you may provide when you access or use Blue Bird Snowboarding.</li>
            <li>Our practices for collecting, using, maintaining, protecting, and disclosing that information.</li>
        </ul>
        <p>This policy applies only to the information we collect through Blue Bird Snowboarding and in email or other electronic communications sent through or in connection with our website.</p>

        <h2>2. Data We Collect</h2>
        <p>While using Blue Bird Snowboarding, we may ask you to provide certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include:</p>
        <ul>
            <li>Email address</li>
            <li>First name and last name</li>
            <li>Address, State, Province, ZIP/Postal code, City</li>
        </ul>

        <h2>3. How We Use Your Data</h2>
        <p>Blue Bird Snowboarding uses the collected data for various purposes:</p>
        <ul>
            <li>To provide and maintain our website.</li>
            <li>To notify you about changes to our website or any products or services we offer or provide through it.</li>
            <li>To allow you to participate in interactive features on our website.</li>
            <li>For student research purposes.</li>
        </ul>

        <h2>4. Data Protection</h2>
        <p>The security of your data is important to us. We implement various measures to protect your personal information from unauthorized access, use, or disclosure.</p>

        <h2>5. Data Sharing</h2>
        <p>We do not share, sell, or otherwise disclose your personal information for purposes other than those outlined in this privacy policy.</p>

        <h2>6. Children's Privacy</h2>
        <p>Blue Bird Snowboarding is not intended for children under 13 years of age. We do not knowingly collect personal information from children under 13.</p>

        <h2>7. Changes to This Privacy Policy</h2>
        <p>We may update our privacy policy from time to time. We will notify you of any changes by posting the new privacy policy on this page.</p>

        <h2>8. Contact Us</h2>
        <p>If you have any questions or suggestions about our privacy policy, do not hesitate to contact us at [Your Contact Information].</p>
    </div>


